<a href="https://colab.research.google.com/github/setitfree/Everything/blob/main/Every_lec2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lecture 2
**Pandas**

In [ ]:
import pandas as pd
!wget https://raw.githubusercontent.com/setitfree/NumericalPython/main/data/electoral_votes.csv

In [ ]:
!wget https://raw.githubusercontent.com/setitfree/NumericalPython/main/data/population_2012.csv

In [3]:
electoral_votes = pd.read_csv("electoral_votes.csv") ## reads a file i.e.save the spreadsheet into the memory                                           
electoral_votes.head()

        State  Votes
0  California     55
1       Texas     38
2    New York     29
3     Florida     29
4    Illinois     20

In [4]:
electoral_votes.columns   ## Tells us columns name

Index(['State', 'Votes'], dtype='object')

In [5]:
electoral_votes.shape  ## Tells us how many rows and columns

(51, 2)

In [ ]:
electoral_votes['Votes']    ## Access  1st way

In [ ]:
electoral_votes.Votes    ## Access. 2nd way

In [7]:
electoral_votes = electoral_votes.set_index('State')  ## Set states as an index
electoral_votes.head()                                ## Earlier Index started from 0 (look above cell 3)

            Votes
State
California     55
Texas          38
New York       29
Florida        29
Illinois       20

In [8]:
electoral_votes.shape   ## Shape changes because now we have indexed states

(51, 1)

In [9]:
population_2012 = pd.read_csv('population_2012.csv').set_index('State')  ## Another file. Set index as state 
population_2012.head()

            Population
State
Alaska          710000
Alabama        4780000
Arkansas       2916000
Arizona        6392000
California    37254000

In [10]:
combined = population_2012.join(electoral_votes)    ## Join the 2 files with same index as states  ðŸ˜‡
combined.head()

            Population  Votes
State
Alaska          710000      3
Alabama        4780000      9
Arkansas       2916000      6
Arizona        6392000     11
California    37254000     55

In [11]:
combined['popmills'] = combined.Population.apply(lambda x : x/1000000.)
combined.head()

            Population  Votes  popmills
State
Alaska          710000      3     0.710
Alabama        4780000      9     4.780
Arkansas       2916000      6     2.916
Arizona        6392000     11     6.392
California    37254000     55    37.254

In [15]:
combined[['popmills', 'Votes']].head()

            popmills  Votes
State
Alaska         0.710      3
Alabama        4.780      9
Arkansas       2.916      6
Arizona        6.392     11
California    37.254     55

In [27]:
combined.sort_values('popmills', ascending= False)[['popmills', 'Votes']].head(10)

                popmills  Votes
State
California        37.254     55
Texas             25.146     38
New York          19.378     29
Florida           18.801     29
Illinois          12.831     20
Pennsylvania      12.702     20
Ohio              11.537     18
Michigan           9.884     16
Georgia            9.688     16
North Carolina     9.535     15

In [32]:
combined.query('10  < Votes < 15')[['popmills', 'Votes']]   ## To get votes greater than 10 and less than 15

               popmills  Votes
State
Arizona           6.392     11
Indiana           6.484     11
Massachusetts     6.548     11
New Jersey        8.792     14
Tennessee         6.346     11
Virginia          8.001     13
Washington        6.725     12

In [ ]:
combined.Votes < 15   ## To get votes less than 15

In [ ]:
combined.Votes > 10

In [ ]:
(combined.Votes > 10) & (combined.Votes < 15)   ## To get votes greater than 10 and less than 15

In [ ]:
combined[(combined.Votes > 10) & (combined.Votes < 15)]   ## To index the above cell

## Accessing select rows in a DataFrame

We have seen how to get an entire column, or an entire sub-dataframe.

We'll now look at 2 methods : [*.loc*](https://pandas.pydata.org/pandas-docs/version/0.23.1/generated/pandas.DataFrame.loc.html) and [*.iloc*](https://pandas.pydata.org/pandas-docs/version/0.23.1/generated/pandas.DataFrame.iloc.html#pandas.DataFrame.iloc) that will help us select certain rows/columns from a Pandas DataFrame.

*.loc* accesses a group of rows and columns by label(s) or a boolean array, whereas *.iloc* is a purely integer-location based indexing for selection by position.

We'll do some examples on the `combined` Dataframe to see how this works

In [34]:
print("The populationof Alabama is :", combined.loc['Alabama'].Population)

The populationof Alabama is : 4780000.0

In [35]:
print("The populationof Alabama is :", combined.iloc[1].Population)

The populationof Alabama is : 4780000.0

In [48]:
combined.iloc[0 : 5].Votes

State
Alaska         3
Alabama        9
Arkansas       6
Arizona       11
California    55
Name: Votes, dtype: int64

In [51]:
combined.loc[combined['Population'] > 10000000].sort_values('Population', ascending = True)

              Population  Votes  popmills
State
Ohio            11537000     18    11.537
Pennsylvania    12702000     20    12.702
Illinois        12831000     20    12.831
Florida         18801000     29    18.801
New York        19378000     29    19.378
Texas           25146000     38    25.146
California      37254000     55    37.254

In [52]:
combined.to_csv('combined_populaton_votes.csv')   ## Save the file with this name  "combined_populaton_votes.csv"