<a href="https://colab.research.google.com/github/setitfree/Everything/blob/main/Everything.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LAB 0

In [ ]:
range(50)

range(0, 50)

In [ ]:
list(range(50))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [ ]:
enumerate(range(50)) ## enumerate a pregnant object

In [ ]:
list(enumerate(50))

TypeError: ignored

In [ ]:
#enumerate behaves just like range, like a pregnant pbject

import string
list(enumerate(string.ascii_lowercase))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 'e'),
 (5, 'f'),
 (6, 'g'),
 (7, 'h'),
 (8, 'i'),
 (9, 'j'),
 (10, 'k'),
 (11, 'l'),
 (12, 'm'),
 (13, 'n'),
 (14, 'o'),
 (15, 'p'),
 (16, 'q'),
 (17, 'r'),
 (18, 's'),
 (19, 't'),
 (20, 'u'),
 (21, 'v'),
 (22, 'w'),
 (23, 'x'),
 (24, 'y'),
 (25, 'z')]

In [ ]:
## same as above using zip function

import string
def my_enumerate(mylist):
  l = len(mylist)
  return zip(range(l), mylist)
   
list(my_enumerate(string.ascii_lowercase))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 'e'),
 (5, 'f'),
 (6, 'g'),
 (7, 'h'),
 (8, 'i'),
 (9, 'j'),
 (10, 'k'),
 (11, 'l'),
 (12, 'm'),
 (13, 'n'),
 (14, 'o'),
 (15, 'p'),
 (16, 'q'),
 (17, 'r'),
 (18, 's'),
 (19, 't'),
 (20, 'u'),
 (21, 'v'),
 (22, 'w'),
 (23, 'x'),
 (24, 'y'),
 (25, 'z')]

In [1]:
## same as above

list1 = []
a = ord('a')
b = ord('z')
for c in range(a, b+1):
  list1.append(chr(c))
list2 = [i for i in range(0,25)]

for i, j in zip(list1, list2):
  print(i, j)

a 0
b 1
c 2
d 3
e 4
f 5
g 6
h 7
i 8
j 9
k 10
l 11
m 12
n 13
o 14
p 15
q 16
r 17
s 18
t 19
u 20
v 21
w 22
x 23
y 24

In [ ]:
## to get the number of lower , upper, figits, punctuation.

import string
my_string = "HelloWorld,123,ThisIsUniv.Ai"
def counter(allowed, inpstr):
  count = 0
  for c in inpstr:
    if c in allowed:
      count+=1
  return count
counter(string.ascii_lowercase, my_string), counter(string.ascii_uppercase, my_string), counter(string.digits, my_string),counter(string.punctuation, my_string)

In [ ]:
!wget https://raw.githubusercontent.com/setitfree/BasicPython/main/data/Julius%20Caesar.txt

In [ ]:
## open the file , reads the file, add it to word list and peint upto 1000 words 

wordlist =[]
fd = open('Julius Caesar.txt')
for line in fd:  ## reaf the file ## could have also used fd.readlines() ## both can't be used together
  strips = line.strip()
  cleaned = strips.split()
  wordlist += cleaned
print(wordlist[:1000])

['THE', 'TRAGEDY', 'OF', 'JULIUS', 'CAESAR', 'by', 'William', 'Shakespeare', 'Contents', 'ACT', 'I', 'Scene', 'I.', 'Rome.', 'A', 'street.', 'Scene', 'II.', 'The', 'same.', 'A', 'public', 'place.', 'Scene', 'III.', 'The', 'same.', 'A', 'street.', 'ACT', 'II', 'Scene', 'I.', 'Rome.', 'Brutusâ€™', 'orchard.', 'Scene', 'II.', 'A', 'room', 'in', 'Caesarâ€™s', 'palace.', 'Scene', 'III.', 'A', 'street', 'near', 'the', 'Capitol.', 'Scene', 'IV.', 'Another', 'part', 'of', 'the', 'same', 'street,', 'before', 'the', 'house', 'of', 'Brutus.', 'ACT', 'III', 'Scene', 'I.', 'Rome.', 'Before', 'the', 'Capitol;', 'the', 'Senate', 'sitting.', 'Scene', 'II.', 'The', 'same.', 'The', 'Forum.', 'Scene', 'III.', 'The', 'same.', 'A', 'street.', 'ACT', 'IV', 'Scene', 'I.', 'A', 'room', 'in', 'Antonyâ€™s', 'house.', 'Scene', 'II.', 'Before', 'Brutusâ€™', 'tent,', 'in', 'the', 'camp', 'near', 'Sardis.', 'Scene', 'III.', 'Within', 'the', 'tent', 'of', 'Brutus.', 'ACT', 'V', 'Scene', 'I.', 'The', 'plains', 'of', 'Philippi.', 'Scene', 'II.', 'The', 'same.', 'The', 'field', 'of', 'battle.', 'Scene', 'III.', 'Another', 'part', 'of', 'the', 'field.', 'Scene', 'IV.', 'Another', 'part', 'of', 'the', 'field.', 'Scene', 'V.', 'Another', 'part', 'of', 'the', 'field.', 'Dramatis', 'PersonÃ¦', 'JULIUS', 'CAESAR', 'OCTAVIUS', 'CAESAR,', 'Triumvir', 'after', 'his', 'death.', 'MARCUS', 'ANTONIUS,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'M.', 'AEMILIUS', 'LEPIDUS,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'CICERO,', 'PUBLIUS,', 'POPILIUS', 'LENA,', 'Senators.', 'MARCUS', 'BRUTUS,', 'Conspirator', 'against', 'Caesar.', 'CASSIUS,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'CASCA,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'TREBONIUS,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'LIGARIUS,â€\x9d', 'â€\x9d', 'â€\x9d', 'DECIUS', 'BRUTUS,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'METELLUS', 'CIMBER,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'CINNA,', 'â€\x9d', 'â€\x9d', 'â€\x9d', 'FLAVIUS,', 'tribune', 'MARULLUS,', 'tribune', 'ARTEMIDORUS,', 'a', 'Sophist', 'of', 'Cnidos.', 'A', 'Soothsayer', 'CINNA,', 'a', 'poet.', 'Another', 'Poet.', 'LUCILIUS,', 'TITINIUS,', 'MESSALA,', 'young', 'CATO,', 'and', 'VOLUMNIUS,', 'Friends', 'to', 'Brutus', 'and', 'Cassius.', 'VARRO,', 'CLITUS,', 'CLAUDIUS,', 'STRATO,', 'LUCIUS,', 'DARDANIUS,', 'Servants', 'to', 'Brutus', 'PINDARUS,', 'Servant', 'to', 'Cassius', 'CALPHURNIA,', 'wife', 'to', 'Caesar', 'PORTIA,', 'wife', 'to', 'Brutus', 'The', 'Ghost', 'of', 'Caesar', 'Senators,', 'Citizens,', 'Soldiers,', 'Commoners,', 'Messengers,', 'and', 'Servants.', 'SCENE:', 'Rome,', 'the', 'conspiratorsâ€™', 'camp', 'near', 'Sardis,', 'and', 'the', 'plains', 'of', 'Philippi.', 'ACT', 'I', 'SCENE', 'I.', 'Rome.', 'A', 'street.', 'Enter', 'Flavius,', 'Marullus', 'and', 'a', 'throng', 'of', 'Citizens.', 'FLAVIUS.', 'Hence!', 'home,', 'you', 'idle', 'creatures,', 'get', 'you', 'home.', 'Is', 'this', 'a', 'holiday?', 'What,', 'know', 'you', 'not,', 'Being', 'mechanical,', 'you', 'ought', 'not', 'walk', 'Upon', 'a', 'labouring', 'day', 'without', 'the', 'sign', 'Of', 'your', 'profession?', 'Speak,', 'what', 'trade', 'art', 'thou?', 'CARPENTER.', 'Why,', 'sir,', 'a', 'carpenter.', 'MARULLUS.', 'Where', 'is', 'thy', 'leather', 'apron', 'and', 'thy', 'rule?', 'What', 'dost', 'thou', 'with', 'thy', 'best', 'apparel', 'on?', 'You,', 'sir,', 'what', 'trade', 'are', 'you?', 'COBBLER.', 'Truly,', 'sir,', 'in', 'respect', 'of', 'a', 'fine', 'workman,', 'I', 'am', 'but,', 'as', 'you', 'would', 'say,', 'a', 'cobbler.', 'MARULLUS.', 'But', 'what', 'trade', 'art', 'thou?', 'Answer', 'me', 'directly.', 'COBBLER.', 'A', 'trade,', 'sir,', 'that', 'I', 'hope', 'I', 'may', 'use', 'with', 'a', 'safe', 'conscience,', 'which', 'is', 'indeed,', 'sir,', 'a', 'mender', 'of', 'bad', 'soles.', 'MARULLUS.', 'What', 'trade,', 'thou', 'knave?', 'Thou', 'naughty', 'knave,', 'what', 'trade?', 'COBBLER.', 'Nay,', 'I', 'beseech', 'you,', 'sir,', 'be', 'not', 'out', 'with', 'me;', 'yet,', 'if', 'you', 'be', 'out,', 'sir,', 'I', 'can', 'mend', 'you.', 'MARULLUS.', 'What', 'meanâ€™st', 'thou', 'by', 'that?', 'Mend', 'me,', 'thou', 'saucy', 'fellow!', 'COBBLER.', 'Why,', 'sir,', 'cobble', 'you.', 'FLAVIUS.', 'Thou', 'art', 'a', 'cobbler,', 'art', 'thou?', 'COBBLER.', 'Truly,', 'sir,', 'all', 'that', 'I', 'live', 'by', 'is', 'with', 'the', 'awl;', 'I', 'meddle', 'with', 'no', 'tradesmanâ€™s', 'matters,', 'nor', 'womenâ€™s', 'matters,', 'but', 'withal', 'I', 'am', 'indeed,', 'sir,', 'a', 'surgeon', 'to', 'old', 'shoes:', 'when', 'they', 'are', 'in', 'great', 'danger,', 'I', 'recover', 'them.', 'As', 'proper', 'men', 'as', 'ever', 'trod', 'upon', 'neatâ€™s', 'leather', 'have', 'gone', 'upon', 'my', 'handiwork.', 'FLAVIUS.', 'But', 'wherefore', 'art', 'not', 'in', 'thy', 'shop', 'today?', 'Why', 'dost', 'thou', 'lead', 'these', 'men', 'about', 'the', 'streets?', 'COBBLER.', 'Truly,', 'sir,', 'to', 'wear', 'out', 'their', 'shoes,', 'to', 'get', 'myself', 'into', 'more', 'work.', 'But', 'indeed,', 'sir,', 'we', 'make', 'holiday', 'to', 'see', 'Caesar,', 'and', 'to', 'rejoice', 'in', 'his', 'triumph.', 'MARULLUS.', 'Wherefore', 'rejoice?', 'What', 'conquest', 'brings', 'he', 'home?', 'What', 'tributaries', 'follow', 'him', 'to', 'Rome,', 'To', 'grace', 'in', 'captive', 'bonds', 'his', 'chariot', 'wheels?', 'You', 'blocks,', 'you', 'stones,', 'you', 'worse', 'than', 'senseless', 'things!', 'O', 'you', 'hard', 'hearts,', 'you', 'cruel', 'men', 'of', 'Rome,', 'Knew', 'you', 'not', 'Pompey?', 'Many', 'a', 'time', 'and', 'oft', 'Have', 'you', 'climbâ€™d', 'up', 'to', 'walls', 'and', 'battlements,', 'To', 'towers', 'and', 'windows,', 'yea,', 'to', 'chimney', 'tops,', 'Your', 'infants', 'in', 'your', 'arms,', 'and', 'there', 'have', 'sat', 'The', 'livelong', 'day', 'with', 'patient', 'expectation,', 'To', 'see', 'great', 'Pompey', 'pass', 'the', 'streets', 'of', 'Rome.', 'And', 'when', 'you', 'saw', 'his', 'chariot', 'but', 'appear,', 'Have', 'you', 'not', 'made', 'an', 'universal', 'shout,', 'That', 'Tiber', 'trembled', 'underneath', 'her', 'banks', 'To', 'hear', 'the', 'replication', 'of', 'your', 'sounds', 'Made', 'in', 'her', 'concave', 'shores?', 'And', 'do', 'you', 'now', 'put', 'on', 'your', 'best', 'attire?', 'And', 'do', 'you', 'now', 'cull', 'out', 'a', 'holiday?', 'And', 'do', 'you', 'now', 'strew', 'flowers', 'in', 'his', 'way,', 'That', 'comes', 'in', 'triumph', 'over', 'Pompeyâ€™s', 'blood?', 'Be', 'gone!', 'Run', 'to', 'your', 'houses,', 'fall', 'upon', 'your', 'knees,', 'Pray', 'to', 'the', 'gods', 'to', 'intermit', 'the', 'plague', 'That', 'needs', 'must', 'light', 'on', 'this', 'ingratitude.', 'FLAVIUS.', 'Go,', 'go,', 'good', 'countrymen,', 'and,', 'for', 'this', 'fault', 'Assemble', 'all', 'the', 'poor', 'men', 'of', 'your', 'sort,', 'Draw', 'them', 'to', 'Tiber', 'banks,', 'and', 'weep', 'your', 'tears', 'Into', 'the', 'channel,', 'till', 'the', 'lowest', 'stream', 'Do', 'kiss', 'the', 'most', 'exalted', 'shores', 'of', 'all.', '[_Exeunt', 'Citizens._]', 'See', 'whether', 'their', 'basest', 'metal', 'be', 'not', 'movâ€™d;', 'They', 'vanish', 'tongue-tied', 'in', 'their', 'guiltiness.', 'Go', 'you', 'down', 'that', 'way', 'towards', 'the', 'Capitol;', 'This', 'way', 'will', 'I.', 'Disrobe', 'the', 'images,', 'If', 'you', 'do', 'find', 'them', 'deckâ€™d', 'with', 'ceremonies.', 'MARULLUS.', 'May', 'we', 'do', 'so?', 'You', 'know', 'it', 'is', 'the', 'feast', 'of', 'Lupercal.', 'FLAVIUS.', 'It', 'is', 'no', 'matter;', 'let', 'no', 'images', 'Be', 'hung', 'with', 'Caesarâ€™s', 'trophies.', 'Iâ€™ll', 'about', 'And', 'drive', 'away', 'the', 'vulgar', 'from', 'the', 'streets;', 'So', 'do', 'you', 'too,', 'where', 'you', 'perceive', 'them', 'thick.', 'These', 'growing', 'feathers', 'pluckâ€™d', 'from', 'Caesarâ€™s', 'wing', 'Will', 'make', 'him', 'fly', 'an', 'ordinary', 'pitch,', 'Who', 'else', 'would', 'soar', 'above', 'the', 'view', 'of', 'men,', 'And', 'keep', 'us', 'all', 'in', 'servile', 'fearfulness.', '[_Exeunt._]', 'SCENE', 'II.', 'The', 'same.', 'A', 'public', 'place.', 'Enter,', 'in', 'procession,', 'with', 'music,', 'Caesar;', 'Antony,', 'for', 'the', 'course;', 'Calphurnia,', 'Portia,', 'Decius,', 'Cicero,', 'Brutus,', 'Cassius', 'and', 'Casca;', 'a', 'great', 'crowd', 'following,', 'among', 'them', 'a', 'Soothsayer.', 'CAESAR.', 'Calphurnia.', 'CASCA.', 'Peace,', 'ho!', 'Caesar', 'speaks.', '[_Music', 'ceases._]', 'CAESAR.', 'Calphurnia.', 'CALPHURNIA.', 'Here,', 'my', 'lord.', 'CAESAR.', 'Stand', 'you', 'directly', 'in', 'Antoniusâ€™', 'way,', 'When', 'he', 'doth', 'run', 'his', 'course.', 'Antonius.', 'ANTONY.', 'Caesar,', 'my', 'lord?', 'CAESAR.', 'Forget', 'not', 'in', 'your', 'speed,', 'Antonius,', 'To', 'touch', 'Calphurnia;', 'for', 'our', 'elders', 'say,', 'The', 'barren,', 'touched', 'in', 'this', 'holy', 'chase,', 'Shake', 'off', 'their', 'sterile', 'curse.', 'ANTONY.', 'I', 'shall', 'remember.']

In [ ]:
worddict = dict()
fd = open('Julius Caesar.txt')
for line in fd:  ## reaf the file ## could have also used fd.readlines() ## both can't be used together
  strips = line.strip()
  cleaned = strips.split()
  count = 0
  for words in cleaned:
    if not words in worddict:
      worddict[words] = 1
    else:
      worddict[words] += 1

##**Lecture 2**

  # Dictionary

In [ ]:
d = dict(    ## Easiest way to form dictionary 
    name = "ravi",
    age  = 23,
    gender = "male",
)
d # or print(d)

{'age': 23, 'gender': 'male', 'name': 'ravi'}

In [ ]:
print(d['age']). ## Get a value

23

In [ ]:
d['job'] = "student" ## Set a value , add to a dict

In [ ]:
d

{'age': 23, 'gender': 'male', 'job': 'student', 'name': 'ravi'}

In [ ]:
d = dict(    ## Easiest way to form dictionary 
    name = "ravi",
    age  = 23,
    gender = "male",
)
for key in d.keys():   ## Iterate over keys
  print(key, d[key])

name ravi
age 23
gender male

In [ ]:
for key, value in d.items():  ## Iterate of keys and value
  print(key,value)

name ravi
age 23
gender male

In [ ]:
D =dict([('name', 'alice'), ('age', 18)])   ## Another way of forming dict
print(D)                                           ## Kind of enumerate Function

{'name': 'alice', 'age': 18}

In [ ]:
D = dict.fromkeys(['name', 'age', 'place'])  ## Creating  dict from tuples
print(D)  ## It only creates keys with value none

{'name': None, 'age': None, 'place': None}

In [ ]:
D['name'] = 'alice'
print(D)

{'name': 'alice', 'age': None, 'place': None}

In [ ]:
if not D['age']:  ## None value does not equates with true value
  print("hii")  ## only evaluates to false ( include "not" )

hii

In [ ]:
print(D['age'])
'place' in D  ## To check if we have a particular key in our dict

None

True

In [ ]:
for key in D.keys():  ## iterate over keys
  print(key)

name
age
place

In [ ]:
for key in D.keys():  ## iterate over keys
  print(key, D[key])

name alice
age None
place None

In [ ]:
for key, value in D.items():   ## Iterate over keys and values
  print(key, value)

name alice
age None
place None

In [ ]:
for value in D.values():  ## Iterate over values
  print(value)

alice
None
None

In [ ]:
##  Using Dictionary comprehensions to create an output dictionary which contains only the odd numbers
##  that are present in the input list as keys and their cubes as values

lists = [1,2,3,4,5,6,7]
dict_using_comp = {var : var ** 2 for var in lists if var % 2 != 0 }
print(dict_using_comp)

{1: 1, 3: 9, 5: 25, 7: 49}

In [ ]:
#if key in dict:              ## if you already have that key then do something
 # dict[key].append(item)     ## with the value 
#else:
 # dict[key] = []             ## and if you dont have it, intialise it

  # Tuples

In [ ]:
t = () ## is immutable
t[0] = 5 ## No use of creating an empty tuple since we cant add anything to it
          ## But we can iterate over it

TypeError: ignored

In [ ]:
z = (1,2,3,4,5) ## To create a tuple
z               ## Always prints as specified

(1, 2, 3, 4, 5)

In [ ]:
for i in z:   ## Iterate
  print(i)

1
2
3
4
5

# Class

In [ ]:
class MyClass:  ## Create a class
  pass

In [ ]:
c = MyClass()  ## Create a class as if it is a function 
c

In [ ]:
c.learning_rate = 0.01


# d = {} d['learning_rate'] = 0.01  ## another way of doing it using dict.
## In other words class is a glorified dictonary. We can add keys when we want. 
## Here, "learning_rate" is instance variable
## And "c" is instance of a class

In [ ]:
p1 = MyClass()  ## How this works(creating a class as if it is a function)? See cell below
p1.x = 5
p1.x

5

 The self Parameter

The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named `self` (but this is a convention in all python code so stick to it), you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [ ]:
class person:     
  def __init__(self, name, age):  
    self.name = name              ## we always write like this: person.name, person.age to add a key
    self.age = age                ## Now "self" denotes the "person" in person.name

p = person('Ravi', 23)  ## Here we are using __init__ function to tell the class what it contains
print(p.name)
print(p.age)

Ravi
23

#LAB 1

Define a class to check balance in bank account. If withdrawl is less than balance then it is fine but if withdrawl is more than balance then print 'withdrawl not allowed'

In [ ]:
class ECBankAccount:
  def __init__(self, balance):
    self.balance = balance
  
  def withdrawl(self, amount):
    self.amount = amount
    self.balance = self.balance - amount
    if amount > self.balance:
      print("Withdrawl not allowed")
    else:
      print("Transaction complete")

In [ ]:
x = ECBankAccount(100)
print(x.balance)
x.withdrawl(120)
print("Balance left :")
print(x.balance)

100
Withdrawl not allowed
Balance left :
-20

In [ ]:
class ECBankAccount:  ## same as above but it also raises a value error
  def __init__(self, balance):
    self.balance = balance
  
  def withdrawl(self, amount):
    self.amount = amount
    self.balance = self.balance - amount
    if self.balance < 0:
      print(self.balance)
      raise ValueError("Withdrawl not allowed")

In [ ]:
y = ECBankAccount(100)
y.withdrawl(20)
y.balance

80